# unnötiges generiertes zeugs
*.jar
src/main/java-gen/
.springbeans
spring-shell.log

# java müll
.settings/
.metadata/
.recommenders/
bin/
build/
target/
delombok/
.classpath
.project
*.class

#mvn
mvnw
mvnw.cmd
.mvn